
<div class="row mb-3">
  <div class="col-md-6">
    <input type="text" class="form-control" placeholder="Search by Name" [(ngModel)]="searchName" (ngModelChange)="onSearchNameChanged($event)">
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Duration</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses">
      <td>{{course.moduleId}}</td>
      <td>{{ course.name }}</td>
      <td>{{ course.description }}</td>
      <td>{{ course.duration }}</td>
      <td><a [routerLink]="['/edit-course', course.moduleId]" class="btn btn-success">Edit</a>
      </td>
      <td><button type="button" class="btn btn-danger" (click)="deleteCourse(course.moduleId)">Delete</button></td>
    </tr>
  </tbody>
</table>
<h3 *ngIf="!courses">No Courses</h3>
